* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
}

.text-or {
  font-family: cursive;
  color: black;
}

#initialScreen {
  display: block;
}

#chatScreen {
  width: 100%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  display: none;
}

.chat-box-wrapper {
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.chat-box {
  min-height: calc(100% - 10rem);
  border: 5px black solid;
  overflow-y: auto;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;
}

.chat-item {
  max-width: calc(100% - 2rem);
  width: max-content;
  margin-block: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.1rem 1rem;
  color: white;
}

.you {
  background-color: #772d8b;
}

.contact-name {
  text-transform: capitalize;
  font-weight: bold;
  color: #d3f6db;
}

.me-wrapper {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.me {
  color: white;
  background-color: rgb(137, 216, 18);
  text-align: right;
}

#alert-container {
  position: absolute;
  top: 0;
  right: 50;
  display: none;
  transition: all 200ms ease-in;
}

.alert-display {
  right: 50;
  display: block;
}

#roomIdText {
  cursor: pointer;
}
